<%= turbo_frame_tag "currently_hacking" do %>
  <%= cache ["currently_hacking"], expires_in: 1.minute do %>

    <style>
      .currently-hacking-list {
        display: none;
      }

      .currently-hacking-header {
        cursor: pointer;
      }

      .visible > .currently-hacking-list {
        display: block;
      }
    </style>
    <div class="currently-hacking" onclick="this.classList.toggle('visible')">
      <div class="currently-hacking-header">
        <p><%= pluralize(users.count, "person") %> currently hacking</p>
      </div>
      <div class="currently-hacking-list">
        <ul>
          <% users.each do |user| %>
            <%= render "shared/user_mention", user: user %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

