<% content_for :head do %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<% end %>

<div class="container">
  <div class="content">
    <h1>Welcome, <%= @user.display_name %></h1>
  </div>
</div>

<%= turbo_frame_tag "filterable_dashboard", src: my_filterable_dashboard_path do %>
  <span>Loading...</span>
<% end %>